*
    font-family: $ffText, $ffBack
    


h1, .h1
    +ft(50, 50, 400)
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 0
    strong
       color: $main
       font-weight: 700
    +maw($lg)
        font-size: 40px
    +maw($md)
        font-size: 40px
        line-height: 1.2
        img
            display: block
            width: auto
            max-width: 100%
            margin-left: auto
            margin-right: auto
    +maw($xs)
        font-size: 30px
   
h2, .h2
    //+ft(65, 65*1.1, 500)
    +ft(40, 40*1.1, 700)
    text-transform: uppercase
    margin-top: 0
    margin-bottom: $gap4
    strong
        color: $main
    +maw($lg)
        +ft(36, 36*1.4, 700)
    +maw($md)
        +ft(36, 36*1.4, 700)
    +maw($sm)
        +ft(34, 34*1.4, 700)
    +maw($xs)
        +ft(24, 24*1.4, 700)
  

h3, .h3
    margin-top: 0
    +ft(26, 26*1.4, 500)
    +maw($sm)
        +ft(22, 22*1.4, 500)

h4
    margin-top: 0
    text-transform: uppercase
    +ft(20, 20*1.4, 700)

h1, h2, h3, h4, h5, h6
    font-family: $ffHeading

hgroup
    h1, h2, h3, h4, h5, h6
        margin-bottom: $gap1
        margin-top: 0


.text
    &-center
        text-align: center

.subtitle
    font-weight: 500
    margin-top: $gap4