
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.hero }}
{{ with $data.homepage.hero }}

<section class="section section_hero">
    <div class="hero container">
        <div class="hero__container">
           <div>
            <div>
                <h1>
                    {{ .title_before | markdownify }}
                    <img src="{{ "./images/img1.svg" | relURL }}" alt="ALT" width="100%">
                    {{ .title_after | markdownify }}
                </h1>
                <p class="subtitle">
                    {{ .subtitle }}
                </p>
            </div>
           </div>
           <div>
            {{- partial "_form.html" . -}}
           </div>
        </div>

    </div>
</section>

{{ end }}
{{ end }}