{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_blog }}
{{ with $data.homepage.section_blog }}

<section class="section section_blog">
    <div class="container">
      <h2 data-aos="fade-up">{{ .title }}</h2>


        <div class="cards swiper" id="slider2">
            <div class="swiper-wrapper">
                {{ $pg := $.Site.Pages }}
                {{ range first 24 (where $pg "Section" "blog") }}
                  {{ if ne .File.Path "blog/_index.md" }}  
                  <article class="card swiper-slide" data-aos="fade-up">
                    <div class="card__header">
                     <h4>{{ .Params.title }}</h4>
                    </div>
                    <div class="card__body">
                     <div>
                        {{ .Params.desc | truncate 200 }}
                     </div>
                    </div>
                    <div class="card__footer">
                     <a href="{{ .Permalink }}" class="btn-link">
                         read more
                     </a>
                    </div>
                 </article>
                  {{ end }}
               
            {{ end }}
        </div>
        </div>

        <div class="swiper__nav">
            <div class="swiper-btn-prev">
                <svg class="icon" width="24" height="24">
                    <use xlink:href="#arr-lt"></use>
                </svg>
            </div>
            <div class="swiper-pagination" id="slider2-pagination"></div>
            <div class="swiper-btn-next">
                <svg class="icon" width="24" height="24">
                    <use xlink:href="#arr-rt"></use>
                </svg>
            </div>
        </div>

        <center>
            <a class="btn" href="#form-main">
                <b><span>{{ .btn.label }}</span><span>{{ .btn.label }}</span></b>
            </a>
        </center>
    </div>
</section>

{{ end }}
{{ end }}